body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.img-one,
.img-two,
.img-three {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* TO REMOVE SET TO SCROLL */
  background-attachment: fixed;
}

.img-one {
  background-video: url("/images/handshake.mp4");
  min-height: 100%;
}

.img-two {
  background-image: url("/img/use.jpg");
  min-height: 400px;
}

.img-three {
  background-image: url("/img/nasar.jpg");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.img-one-text,
.img-three-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  text-shadow: 0 0 2px #000;
  font-size: 35px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.img-two-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px #000;
  font-size: 35px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.img-one-text .border {
  background-color: #111;
  color: white;
  padding: 20px;
}

@media (max-width: 568px) {
  .img-one,
  .img-two,
  .img-three {
    background-attachment: scroll;
  }

  .img-two-text,
  .img-three-text {
    font-size: 15px;
  }
  .img-one-text {
    font-size: 12px;
  }
}
